{% extends 'UserBundle::layout.html.twig' %}

{% block title %}Novice{% endblock %}

{% block content %}
<h2>Novice</h2>
<a class="btn btn-small pull-right" href="{{ path('_admin_add_news') }}"><i class="icon-plus"></i> Dodaj Novico</a>
<table class="table table-condensed table-hover border mytable">
  <thead>
    <tr>
      <th>Id</th>
      <th>Naslov</th>
      <th>Text</th>
      <th>Datum vnosa</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% for item in news %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.name}}</td>
      <td>{{ item.text|length > 50 ? item.text|slice(0, 50) ~ '...' : item.text }}</td>
      <td>{{ item.created|date('d.m.Y H:i:s')}}</td>
      <td><a href="{{ path('_admin_edit_news', {'id': item.id}) }}" title="Uredi novico">
              <i class="icon-edit"></i>Uredi</a>&nbsp;
              <a href="{{ path('_admin_delete_news', {'id': item.id } ) }}" class="confirmation" title="Odstrani novico" data-confirmation="Ali si prepričan?">
                  <i class="icon-trash">Izbriši</i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
