{% extends 'StaticBundle::layout.html.twig' %}

{% block title %}Galerija{% endblock %}

{% block content %}
<h1 class="title">Galerija slik</h1>
    <div class="border">
    {% for item in images %}
        <div class="border-item galery">
            <a href="{{ asset('galery/')}}{{item.path }}" rel="lightbox">
              <img src="{{ asset('galery/')}}{{item.path }}" alt="slika"/>
            </a><br />
            <span><strong>{{ item.description|length > 50 ? item.description|slice(0, 450) ~ '...' : item.description }}</strong></span><br />
            <span>{{ item.created|date('d.m.Y') }}</span>
        </div>
    {% endfor %}
    </div>
{% endblock %}