{% extends 'StaticBundle::layout.html.twig' %}

{% block title %}{% trans %}Novice{% endtrans %}{% endblock %}

{% block content %}
<h1 class="title title-color">{% trans %}Novice{% endtrans %}</h1>
    <div class="border"><img src="{{ asset('bundles/static/images/border-top.jpg') }}" alt="slika" width=300/></div>
{% if news is not empty %}    
    {% for item in news %}
        <table class="table">
            <tr>
                {% if item.video is not empty %}
                    <td style="width: 50%; padding-left: 45px;">
                {% else %}
                    <td style="width: 80%; padding-left: 45px;">    
                {% endif %}
                    <h2>{{ item.name}}</h2>
                    {{ item.text|length > 450 ? item.text|slice(0, 450) ~ '...' : item.text }}
                    <br />
                    <p class="link">
                        <a href="{{ path('_single_news', ({'id': item.id}) ) }}" >{% trans %}Več{% endtrans %}...&raquo;</a>
                    </p>
                    <p><strong>{{ item.created|date('d.m.Y')}}</strong></p>
                </td>
                {% set counter = 0 %}
                {% if item.path is not empty %}
                {% set counter = counter + 1 %}
                <td>
                    <a class="table-image" href="{{ asset('news/')}}{{item.path }}" data-lightbox="Novice-{{ counter}}">
                        <img src="{{ asset('news/')}}{{item.path }}" alt="slika" width=150/>
                    </a>
                </td>
                {% endif %}
                {% if item.video is not empty %}
                <td style="padding-top: 60px;">
                    <iframe src="{{ item.video }}" style="height: 220px; width: 250px;"></iframe>
                </td>
                {% endif %}
            </tr>
        </table>
    {% endfor %}
{% else %}
    <p style="padding: 30px 0px 0px 100px; margin-bottom: 400px;">{% trans %}V izdelavi{% endtrans %}</p>
{% endif %}
    <div class="border"><img src="{{ asset('bundles/static/images/border-bottom.jpg') }}" alt="slika" width=300/></div>
    <div class="music-element" style="margin: 550px 0px 0px 500px; width: 50px; height: 30px; position: absolute;">
        <audio controls autoplay>
          <source src="{{ asset('bundles/static/Music/music.mp3') }}" type="audio/mpeg">
          <source src="{{ asset('bundles/static/Music/music.mp3') }}" type="audio/ogg">
          <embed height="50" width="50" src="{{ asset('bundles/static/Music/music.mp3') }}">
        </audio>
    </div>
{% endblock %}