{% extends 'StaticBundle::layout.html.twig' %}

{% block title %}{% trans %}Izleti{% endtrans %}{% endblock %}

{% block content %}
    <h1 class="title title-color">{% trans %}Ponujamo izlet na naslednjo destinacijo{% endtrans %}:</h1>
    <div class="border"><img src="{{ asset('bundles/static/images/border-top.jpg') }}" alt="slika" width=300/></div>

    <table class="table">
        <tr>
            {% if item.video is not empty %}
                <td style="width: 50%; padding-left: 45px;">
            {% else %}
                <td style="width: 80%; padding-left: 45px;">    
            {% endif %}
                <h2>{{ item.title}}</h2>
                {{ item.description }}
                <br />
                <p class="link">
                    <a href="{{ path('_news') }}" >{% trans %}Nazaj{% endtrans %} &raquo;</a>
                </p>
            </td>
            {% set counter = 0 %}
            {% if item.path is not empty %}
            {% set counter = counter + 1 %}
            <td>
                <a class="table-image" href="{{ asset('tour/')}}{{item.path }}"  data-lightbox="izleti-{{ counter}}">
                    <img src="{{ asset('tour/')}}{{item.path }}" alt="slika" width=150/>
                </a>
            </td>
            {% endif %}
            {% if item.video is not empty %}
            <td style="padding-top: 60px;">
                <iframe src="{{ item.video }}" style="height: 220px; width: 250px;"></iframe>
            </td>
            {% endif %}
        </tr>
    </table>
    <div class="border"><img src="{{ asset('bundles/static/images/border-bottom.jpg') }}" alt="slika" width=300/></div>
{% endblock %}