{% extends 'StaticBundle::layout.html.twig' %}

{% block title %}Izleti{% endblock %}

{% block content %}
<h1 class="title">Ponujamo izlete na naslednje destinacije:</h1>
<div class="border">
    {% for item in tours %}
    <div class="border-item">
        <p><span style="font-size: 1.5em;"><strong>{{ item.title}}</strong></span></p>
        <p>{{ item.description|length > 50 ? item.description|slice(0, 450) ~ '...' : item.description }}</p>
        <a href="{{ asset('tour/')}}{{item.path }}" rel="lightbox">
        <img src="{{ asset('tour/')}}{{item.path }}" alt="slika" width=300/>
      </a><br />
    </div>
    {% endfor %}
</div>
{% endblock %}