<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} » Royaltransfer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    {% stylesheets output='css/style.css' filter=''
           '@CoreBundle/Resources/assets/css/bootstrap.css'
           '@CoreBundle/Resources/assets/css/bootstrap-theme.css'
           '@CoreBundle/Resources/assets/css/style.css'
           '@CoreBundle/Resources/assets/css/lightbox.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <!--script src="js/vendor/modernizr-2.6.2.min.js"></script-->
    <style>
        @font-face
        {
            font-family: Adobe;
            src: url('{{ asset('bundles/static/font/Adobe_Caslon Pro.ttf') }}');
        }
        body, h2, .title {
        font-family: Adobe;
        }
        .nav li {
            margin-left: 5px;
        }
        .nav {
            margin-left: -10px;
        }
        .color a:link, color a:visited {
            color: #c6c8c9;
        }
        .nav2 li a:hover {
            color: #c6c8c9;
            font-size: 120%;
            background-color: transparent;
        }
        #color a:link, #color a:visited{
            color: #c6c8c9;
        }
        .table {
            width: 100%;
            background-image:url('{{ asset('bundles/static/images/polje.jpg') }}');
            background-color: black;
            margin: 10px 0px;
            height: 350px;
        }
        .galery {
            height: 100%;
        }
        .galery-item {
            width: 31%;
            border-image: url('{{ asset('bundles/static/images/border.jpg') }}') 20 10 repeat;
            border-image-width: 10px;
            height: 300px;
            background-image:url('{{ asset('bundles/static/images/polje-small.png') }}');
            background-color: black;
            margin-left: 20px;
            margin-bottom: 20px;
            float: left;
            text-align: center;
        }
        .galery-item img {
            padding: 30px;
            display: inline;
            width: 250px;
        }
     </style>
  </head>

  <body>

    <div class="navbar navbar-fixed-top" style="height: 60px; background-color: black;">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav nav2" style="margin-top: -55px;">
              <li style="float: left; width: 150px; list-style-type: none; text-align: center;">
                <a style="color: #c6c8c9;" 
                   onmouseover="document.getElementById('div1').style.visibility = 'visible';"
                   onmouseout="document.getElementById('div1').style.visibility = 'hidden';"
                   href="{{ path('_home') }}">Domov</a>
                <img id="div1" class="image image-meni" src="{{ asset('bundles/static/images/krona.png') }}" alt="eng">
              </li>
              <li style="float: left; width: 150px; list-style-type: none; text-align: center;">
                  <a style="color: #c6c8c9;"
                     onmouseover="document.getElementById('div2').style.visibility = 'visible';"
                     onmouseout="document.getElementById('div2').style.visibility = 'hidden';"
                     href="{{ path('_about') }}">O nas</a>
                <img id="div2" class="image image-meni" src="{{ asset('bundles/static/images/krona.png') }}" alt="eng">
              </li>
              <li style="float: left; width: 150px; list-style-type: none; text-align: center;">
                  <a style="color: #c6c8c9;"
                     onmouseover="document.getElementById('div3').style.visibility = 'visible';"
                     onmouseout="document.getElementById('div3').style.visibility = 'hidden';"
                     href="{{ path('_news') }}">Novice</a>
                  <img id="div3" class="image image-meni" src="{{ asset('bundles/static/images/krona.png') }}" alt="eng">
              </li>
              <li style="float: left; width: 150px; list-style-type: none; text-align: center;">
                  <a style="color: #c6c8c9;"
                     onmouseover="document.getElementById('div4').style.visibility = 'visible';"
                     onmouseout="document.getElementById('div4').style.visibility = 'hidden';"
                     href="{{ path('_tours') }}">Izleti</a>
                  <img id="div4" class="image image-meni" src="{{ asset('bundles/static/images/krona.png') }}" alt="eng">
              </li>
              <li style="float: left; width: 150px; list-style-type: none; text-align: center;">
                  <a style="color: #c6c8c9;"
                     onmouseover="document.getElementById('div5').style.visibility = 'visible';"
                     onmouseout="document.getElementById('div5').style.visibility = 'hidden';"
                     href="{{ path('_inquiry') }}">Povpraševanje</a>
                  <img id="div5" class="image image-meni" src="{{ asset('bundles/static/images/krona.png') }}" alt="eng">
              </li>
              <li class="dropdown" id="div8"
                  style="background-color: transparent; float: left; width: 150px; list-style-type: none; text-align: center;"  
                  onmouseover="document.getElementById('div6').style.visibility = 'visible';"
                  onmouseout="document.getElementById('div6').style.visibility = 'hidden';">
                <a style="color: #c6c8c9; background-color: none;" class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">Galerija <b class="caret"></b></a>
                <ul class="dropdown-menu mydropdown" role="menu" aria-labelledby="dLabel">
                  <li style="text-align: left;">
                      <a style="color: #020202;" href="{{ path('_galery') }}">Galerija slik</a>
                  </li>
                  <li style="text-align: left;">
                      <a style="color: #020202;" href="{{ path('_video_galery') }}">Video galerija</a>
                  </li>
                </ul>
                <img id="div6" class="image image-meni" src="{{ asset('bundles/static/images/krona.png') }}" alt="eng">
              </li>
              <li style="float: left; width: 150px; list-style-type: none; text-align: center;">
                  <a style="color: #c6c8c9;"
                     onmouseover="document.getElementById('div7').style.visibility = 'visible';"
                     onmouseout="document.getElementById('div7').style.visibility = 'hidden';"
                     href="{{ path('_contact') }}">Kontakt</a>
                  <img id="div7"class="image image-meni" src="{{ asset('bundles/static/images/krona.png') }}" alt="eng">
              </li>
            </ul>
        </div>
      </div>
    </div>
      <div style="margin-top: 100px; font-size: 130%; margin-left: 80px; margin-bottom: -50px;" class="control-panel">
          <a href="{{ path('_admin') }}">Nadzorna Plošča</a>
      </div>
      
    <div class="container">
      {% for type, messages in app.session.flashbag.all() %}
          {% for message in messages %}
              <div class="alert alert-{{type}} fade in" data-alert="alert"><a class="close" data-dismiss="alert" href="#">&times;</a><div class="alert-heading">{{ message }}</div></div>
          {% endfor %}
      {% endfor %}
      {% block content %}{% endblock %}

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% javascripts  output='js/scripts.js'
        '@CoreBundle/Resources/assets/js/vendor/jquery-1.11.0.min.js'
        '@CoreBundle/Resources/assets/js/vendor/lightbox.min.js'
        '@CoreBundle/Resources/assets/js/vendor/bootstrap.js'
        '@CoreBundle/Resources/assets/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

  </body>
</html>
