{% extends 'UserBundle::layout.html.twig' %}

{% block title %}Izleti{% endblock %}

{% block content %}
<h2>Izleti</h2>
<a class="btn btn-small pull-right" href="{{ path('_admin_add_tour') }}"><i class="icon-plus"></i> Dodaj Izlet</a>
<table class="table table-condensed table-hover border mytable">
  <thead>
    <tr>
      <th>Id</th>
      <th>Naslov</th>
      <th>opis</th>
      <th>Slika</th>
      <th>Datum vnosa</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% for tour in tours %}
    <tr>
      <td>{{ tour.id }}</td>
      <td>{{ tour.title}}</td>
      <td>{{ tour.description|length > 50 ? tour.description|slice(0, 50) ~ '...' : tour.description }}</td>
      <td>
          <a href="{{ asset('tour/')}}{{tour.path }}" rel="lightbox">
            <img src="{{ asset('tour/')}}{{tour.path }}" alt="slika" width="50"/>
          </a>
      </td>
      <td>{{ tour.created|date('d.m.Y H:i:s')}}</td>
      <td><a href="{{ path('_admin_edit_tour', {'id': tour.id}) }}" title="Uredi izlet">
              <i class="icon-edit"></i>Uredi</a>&nbsp;
              <a href="{{ path('_admin_delete_tour', {'id': tour.id } ) }}" class="confirmation" title="Odstrani izlet" data-confirmation="Ali si prepričan?">
                  <i class="icon-trash">Izbriši</i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
